<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="JSX Editor"
            extensions="jsx"
            icon="icons/sample.gif"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="jsx.editors.JSXEditor"
            id="sample3.editors.JSXEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="jsx.preferences.JSXEditorPreferencePage"
            id="jsx.editor.page"
            name="JSX Editor">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="jsx.preferences.JSXEditorPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
